<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<!-- include java script in the footer -->
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<title>SpringBoot MongoDB DemoApp</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">SpringBoot+ MongoDBDemo</h1>
		<div class="col-md-6">
			<form name="saveUser" action="/save" method="post"
				class="form-horizontal">
				<div class="form-group">
					<label for="firstName">First Name:</label> <input type="text"
						id="firstName" class="form-control" placeholder="First Name"
						name="firstName" />
				</div>

				<div class="form-group">
					<label for="lastName">Last Name:</label> <input type="text"
						id="lastName" class="form-control" placeholder="Last Name"
						name="lastName">
				</div>

				<div class="form-group">
					<label for="email">Email:</label> <input type="email" id="email"
						class="form-control" placeholder="Email" name="email">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>


		
</body>
</html>
